.lyricsBox {
  &Title {
    position: relative;
    border-bottom: 1px solid #ebebeb;
    line-height: 2.5em;
  }
  &Text {
    position: relative;
  }

  &TextAnimation::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    color: #36f284;
    overflow: hidden;
    white-space: nowrap;
    width: 40%;
    animation: runText 3s infinite linear;
  }

  @keyframes runText {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
}
