.fill-height {
  height: 100%;
}

.back-button-font {
  float: left;
  cursor: pointer;
}

//   this is the smaller window that appears on the screen
// which gives the filling that a secondary window is open
.sub-app {
  z-index: 999;
  position: relative;
  margin: 20px;
  border-radius: 9px;
  box-shadow: 0 10px 35px -28px #40514e;
  // for firefox
  width: -moz-available;
  // for chrome
  width: -webkit-fill-available;

  &-content {
    height: 80vh;
    padding: 20px 15px;
    justify-content: left;
  }
  &:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 5%;
    width: 90%;
    height: 100px;
    opacity: 0.5;
    background-color: #f4fefb;
    border-radius: 9px;
    z-index: -1;
  }
}
.scrollableCell {
  height: "100%";
  height: "auto";
  overflow-y: "auto";
}
